@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans:300,400,500,700,800&display=swap&subset=cyrillic');

// breakpoints

$tablets: 740px;
$phones: 480px;

@import './base/mixins.scss';

@import './base/normalize.scss';
@import './base/variables.scss';
@import './base/layout.scss';
@import './base/stylesheet.scss';

@import './blocks/nav-rt.scss';

@import './blocks/hero.scss';
@import './blocks/header.scss';
@import './blocks/nav.scss';
@import './blocks/hamburger-menu.scss';
@import './blocks/advantages.scss';
@import './blocks/btn.scss';
@import './blocks/about.scss';
@import './blocks/slider.scss';
@import './blocks/feedback.scss';
@import './blocks/team.scss';
@import './blocks/menu.scss';
@import './blocks/acco.scss';
@import './blocks/form.scss';
@import './blocks/delivery.scss';
@import './blocks/map.scss';
@import './blocks/footer.scss';
@import './blocks/socials.scss';











