.acco__wrapper {
    position: absolute;
    right: 0;
    top: 0;
    height: 100vh;
}

.acco__list {
    display: flex;

  
} 

.acco__item {
    display: flex;

}

.acco__title {
    color: $colorWhite;
    writing-mode: vertical-lr;
    transform:rotate(180deg);
    
    font-size: rem(48px);
    font-weight: 500;
    
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;

    padding-top: rem(40px);

    cursor: pointer;
}

.acco__desc {
    display: none;
    background-color: black;
    opacity: 0.75;

}

.activel .acco__desc {
    display: flex;
    width: rem(630px);

    @include tablets {
        width: rem(480px);
    }


}

.acco__text {
    font-size: rem(16px);
    font-weight: 400;
    line-height: rem(24px);
    margin: 5% 10%;

}

.acco__btn {
    width: rem(100px);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: $colorBlack;
    border: none;
    
    @include tablets {
        width: rem(80px);
    }
}

.acco__btn--img1 {
    background-image: url('./pictures/acco1.png');
}

.acco__btn--img2 {
    background-image: url('./pictures/acco2.png');
}

.acco__btn--img3 {
    background-image: url('./pictures/acco3.png');
}