.map {
  position: relative;
}

.container__map {
  margin-top: 25px;
/*
background-size: cover;
background-image: url('./pictures/карта.png');
background-repeat:  no-repeat;
background-position: center center;
*/

}


#map {
  height: 100%;
  overflow: hidden;
}