.menu {
    position: relative;
    background-size: cover;
    background-color: $colorBlack;
    background-image: url('../../pictures/menu_img.jpg');
    background-repeat:  no-repeat;
    background-position: center center;
    display: flex;
   
} 

.menu__title {
    padding-top: rem(100px);
    padding-left: rem(80px);
}