.product {
    background: rgb(160,237,251);
    background: linear-gradient(8deg, rgba(160,237,251,1) 0%, rgba(137,233,252,0.9979342078628326) 50%,
     rgba(88,225,253,1) 100%); 
    z-index: -25;
    
}

.product__container {
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
}



.slider__list {
    display: inline-flex;
    align-items: center;
    position: relative;
    transform: translateX(0vw);
}


.slider__item {
    display: flex;
    transition: transform .5s;
    
    width: 100vw;

}


.slider__item, .slider__list {
    height: 100%;
    will-change: transform;
    z-index: -5;
}


.slider__wrapper {
    max-width: rem(950px);
    display: flex;
    flex-direction: row;
    width: 80%;
    align-items: center;
    justify-content: flex-start;
    margin: 0 auto;
}


.slider-lft {
    width: 45%;
    position: relative;
    margin-right: 10%;
}

.slider__pic {
    width: 100%;
    height: 100%;
}

.slider__img {
    width: rem(363px);
    height: rem(383px);
    z-index: 5;
}

.slider-bg:before {
    content: "";
    background-image: url('./pictures/bg__blue.png');
    width: rem(380px);
    height: rem(310px);
    background-repeat: no-repeat;
    position: absolute;
    display: block;
    z-index: -5;
    left: rem(50px);
    bottom: rem(-10px);
    
    
}

.slider-bg:after {
    content: "";
    background-image: url('./pictures/slider_least.png');
    width: rem(462px);
    height: rem(326px);
    background-repeat: no-repeat;
    position: absolute;
    display: block;
    z-index: -8;
    left: rem(-30px);
    bottom: rem(-40px);
    
    
}

.slider-rt {
    width: 45%;
    color: $colorGrayDark;
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.slider__title {
    max-width: rem(360px);
    font-size: rem(36px);
    text-align: start;
    color: $colorGrayDark;
}

.slider__par {
    color: $colorGrayDark;
    font-size: rem(24px);
    font-weight: 500;
    margin-bottom: 5%;
}

.slider__text {
    font-size: rem(18px);
    font-weight: 400;
    color: $colorGray;
    max-width: rem(340px);
    margin-bottom: 5%;
}

.slider__desc {
    display: flex;
    justify-content: space-between;
    width: rem(340px);
    color: #333333;
}

.slider__kk, .slider__weight {
    display: flex;
    flex-direction: column;
    font-size: rem(18px);
    font-weight: 400;
    margin-bottom: 5%;
    margin-right: 20%;

}

.slider__kk-value, .slider__weight-value {
    font-size: rem(18px);
    font-weight: 700;
}

.slider__footer {
    display: flex;
    justify-content: space-between;
    width: rem(340px);
}

.slider__desc--price {
    font-size: rem(60px);
    font-weight: 300;
    color: #0d0d0d;
    line-height: rem(60px);
    text-transform: uppercase;

}

.slider__btn {
    background-color: #0f5a47;
    color: #ffffff;
}

.arrow {
    display: flex;
    width: 8%;
    height: 80%;
    background: no-repeat center;
    position: absolute;
    top: 10%;
    

}

.arrow__left {
    left: 0;
    background-image: url('./pictures/arrow-left.png')
}

.arrow__right {
    right: 0;
    background-image: url('./pictures/arrow_right.png')
}

.slider__image {
    position: relative;
    border: 1px solid yellow;
    width: 833px;
    height: 440px;
    overflow: hidden;
}

