.product {
    
    position: relative;
    background: rgb(160,237,251);
    background: linear-gradient(8deg, rgba(160,237,251,1) 0%, rgba(137,233,252,0.9979342078628326) 50%,
     rgba(88,225,253,1) 100%); 
    z-index: -25;
    
    &::after {
        content: "";
        background-image: url('./pictures/leaf6.png');
        background-repeat: no-repeat;
        display: block;
        width: 196px;
        height: 237px;
        position: absolute;
        z-index: -10;
        right: 0;
        bottom: 0;
    }

    
}

.product__container {
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
}



.slider__list {
    display: inline-flex;
    align-items: center;
    position: relative;
    transform: translateX(0vw);
}


.slider__item {
    display: flex;
    transition: transform .5s;
    
    width: 100vw;

}


.slider__item, .slider__list {
    height: 100%;
    will-change: transform;
    z-index: -5;
}


.slider__wrapper {
    max-width: 950px;
    display: flex;
    flex-direction: row;
    width: 80%;
    align-items: center;
    justify-content: flex-start;
    margin: 0 auto;

    @include tablets {
        flex-direction: column;
        justify-content: center;
    }
}


.slider-lft {
    width: 45%;
    position: relative;
    margin-right: 10%;

    @include tablets {
        width: 50%;
        min-height: 44%;
        object-fit: contain;
        margin-bottom: 30px;
    }
}

.slider__pic {
    width: 100%;
    height: 100%;
}

.slider__img {
    width: 363px;
    height: 383px;
    z-index: 5;
}

.slider-bg:before {
    content: "";
    background-image: url('./pictures/bg__blue.png');
    width: 380px;
    height: 310px;
    background-repeat: no-repeat;
    position: absolute;
    display: block;
    z-index: -5;
    left: 50px;
    bottom: -10px;

    @include tablets {
        display: none;
    }
    
    
}

.slider-bg:after {
    content: "";
    background-image: url('./pictures/slider_least.png');
    width: 462px;
    height: 326px;
    background-repeat: no-repeat;
    position: absolute;
    display: block;
    z-index: -8;
    left: -30px;
    bottom: -40px;
    
    
}

.slider-rt {
    width: 45%;
    color: $colorGrayDark;
    display: flex;
    flex-direction: column;
    align-items: baseline;

    @include tablets {
        width: 90%;
        align-items: center;
    }
}

.slider__title {
    font-size: 36px;
    text-align: start;
    color: $colorGrayDark;

    @include tablets {
        max-width: 90%;
        text-align: center;
        font-size: 30px;
        margin-bottom: 10px;
    }
}

.slider__par {
    color: $colorGrayDark;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 20px;
}

.slider__text {
    font-size: 18px;
    font-weight: 400;
    color: $colorGray;
    max-width: 340px;
    margin-bottom: 20px;

        @include tablets {
            max-width: 98%;
            text-align: center;
            margin-bottom: 20px;
        }
}

.slider__desc {
    display: flex;
    justify-content: space-between;
    width: 340px;
    color: #333333;
}

.slider__kk, .slider__weight {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 5%;
    margin-right: 20px;

}

.slider__kk-value, .slider__weight-value {
    font-size: 18px;
    font-weight: 700;
}

.slider__footer {
    display: flex;
    justify-content: space-between;
    width: 340px;
}

.slider__desc--price {
    font-size: 60px;
    font-weight: 300;
    color: #0d0d0d;
    line-height: 60px;
    text-transform: uppercase;

}

.slider__btn {
    background-color: #0f5a47;
    color: #ffffff;
}

.arrow {
    display: flex;
    width: 8%;
    height: 80%;
    background: no-repeat center;
    position: absolute;
    top: 10%;
    

}

.arrow__left {
    left: 0;
    background-image: url('./pictures/arrow-left.png')
}

.arrow__right {
    right: 0;
    background-image: url('./pictures/arrow_right.png')
}

.slider__image {
    position: relative;
    border: 1px solid yellow;
    width: 833px;
    height: 440px;
    overflow: hidden;
}

