.team {
    color: $colorBlack;
    position: relative;
    
    &::before {
        content: "";
        background-image: url('./pictures/leaf5.png');
        background-repeat: no-repeat;
        display: block;
        width: 196px;
        height: 328px;
        position: absolute;
        z-index: 20;
        right: 0;
    }
    
    @include tablets {
        height: 100%;
        padding: 0 15%;
    }
}

.team__container {
    &::before {
        content: "";
        background-image: url('./pictures/berry5.png');
        background-repeat: no-repeat;
        display: block;
        width: 135px;
        height: 112px;
        position: absolute;
        z-index: 25;
        right: 0%;
        top: -5%;
    }

    &::after {
        content: "";
        background-image: url('./pictures/berry4.png');
        background-repeat: no-repeat;
        display: block;
        width: 104px;
        height: 114px;
        position: absolute;
        z-index: 25;
        left: 0%;
        bottom: -6%;
    }

}


.team__title {
    padding-bottom: 70px;
}

.team__list {
    display: flex;
    justify-content: space-between;

    @include tablets {
        flex-wrap: wrap;
       
    }

}

.team__desc {
    text-align: center;
}

.team__img {
    padding-bottom: 25px;
}

.team__author {
   
   
}

.team__subtitle {
    font-size: 21px;
    font-weight: 500;

    margin-left: 0;
    margin-right: 0;
    position: relative;

    &:after {
        content: "";
        width: 15px;
        height: 15px;
        background-image: url('./pictures/клювик_вниз.png');
        background-repeat:  no-repeat;
        background-position: center center;
        display: block;
        position: absolute;
        top: 2px;
        right: 20px;
    }
         

}

.team__text {
    font-size: 18px;
    height: 0;
    overflow: hidden;
}



.team__author--active  {
    + .team__text {
        height: 100%;
    }

    .team__subtitle:after {
        content: "";
        width: 15px;
        height: 15px;
        background-image: url('./pictures/клювик__вверх.png');
        background-repeat:  no-repeat;
        background-position: center center;
        display: block;
        position: absolute;
        top: 2px;
        right: 20px;
    }
       
    
}

.team__spec {
   
    font-weight: 400;
    color: #281e1e;
}

.team__spec-desc {
    font-weight: 300;
    color: $colorGrayDark;
}

.team__item {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;

    &:nth-child(2n) {
        padding-top: 60px;
    }

    @include tablets {
        width: 50%;
        &:nth-child(2n) {
            padding-top: 0;
        }
       
    }
}

.team__img {
    width: 225px;
    height: 290px;
}

.team__img-pic {
    width: 100%;
    height: 100%;
    display: block;
}


