.feedback {
    color: $colorGrayLight;
}

.feedback__title {
    color: $colorBlack;
}

.feedback__desc {
    display: flex;
    background-color: #f8faf9;
    padding: 6%;
    margin-bottom: 30px;
}

.feedback__img {
    width: 254px;
    height: 260px;
    margin-right: 10px;
}

.feedback__img-pic {
    width: 100%;
    height: 100%;
    display: block;
    
}


.feedback__text {
    color: $colorGrayDark;
    width: 53%;
}

.feedback__def {  
    font-size: 30px;
    font-weight: 500;
    margin-top: 15px;
}

.feedback__def-text {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 40px;
}

.feedback__author {
    font-size: 18px;
    font-weight: 500;
}

.feedback__list {
    display: flex;
    justify-content: center;
}


.feedback__item {
    width: 94px;
    height: 94px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 40px;
   
    &:last-child {
        margin-right: 0;
        
    }

    &:hover {
        border: 5px solid $colorGreen;
    }

}


