.form__tag {
   display: flex;
   margin: 0 auto;
  
}

.form__part {
    width: 50%;
    margin-right: 3%;
}


.form__row {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    color: $colorGreen;
    font-size: 18px;
    font-weight: 400;
}

.form__block {
    margin-right: 23px;
    flex: 1;
}

.form__block:last-child {
    margin-right: 0;
}

.form__block-title {
    margin-bottom: 10px; 
}

.form-field {
    width: 100%;
    background: #fff;
    border: none;
    padding: 10px;
}

.form-field::placeholder {
    color: 221f1f;
    padding-left: 10px;
}

.form__textarea {
    resize: none;
    min-width: 100px;
    min-height: 90px;
    overflow: hidden;
}

.form-field:focus {
    border: 2px solid $colorGreen;
}

.form__get-change {
    width: 100%;
    margin-bottom: 15px;
}

.form__radio {
    display: none;
}

.form__radio-lbl {
    display: inline-flex;
    align-items: center;
    margin-right: 15px;
}

.form__radio-lbl:last-child {
    margin-right: 0;
  }

.form__radio-custom {
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid $colorGreen;
    position: relative;
}
  
.form__radio-custom:after {
    content: '';
    display: block;
    width: 8px;
    height: 8px;
    background-color: $colorGreen;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    opacity: 0;
} 

.form__radio:checked  +.form__radio-custom:after {
    opacity: 1;
}

.form__btn {
    background-color: $colorGreen;
    color: white;
}

.reset {
    border: none;
    background-color: transparent;
    color: $colorGreen;
}

