.header__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: rem(20px);
    margin-bottom: rem(90px);
 
}

.header__contacts {
    font-size: rem(24px);
    font-weight: 400;
}
