.hero {
    width: 100%;
    background-color: $colorBlue;
    display: flex;
    flex-direction: column;
    
}

.hero__container {
    justify-content: start;
}

.hero__content {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.hero__title {
    font-size: 60px;
    text-align: start;
    margin-bottom: 15px;
}

.hero__text {
    width: 80%;
    font-size: 21px;
    margin-bottom: 30px;
}

.hero__btn {
    margin-bottom: 70px; 
    width: 33%;   
}