.hero {
    width: 100%;
    background-color: $colorBlue;
    display: flex;
    flex-direction: column;
    
}

.hero__container {
    justify-content: start;
}

.hero__content {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.hero__title {
    font-size: rem(60px);
    text-align: start;
    margin-bottom: rem(15px);
}

.hero__text {
    width: 80%;
    font-size: rem(21px);
    margin-bottom: rem(30px);
}

.hero__btn {
    margin-bottom: rem(70px); 
    width: 33%;   
}