.nav {

    &__item {
        margin-left: rem(25px);

        &:last-child {
            margin-right: 0;
        }
    }

    &__list {
        display: flex;
        align-items: center;
    }

    &__link {
        font-size: rem(18px);
        font-weight: normal;

    }
}


