.nav {

    &__item {
        margin-left: 30px;

        &:last-child {
            margin-right: 0;
        }
    }

    &__list {
        display: flex;
        align-items: center;
    }

    &__link {
        font-size: 18px;
        font-weight: normal;

    }
}


