html {
  font-size: 16px;

  @include tablets {
    font-size: 15px;
  }

  @include phones {
    font-size: 14x;
  }
}

html,
body {
  height: 100%;
}

.wrapper {
  position: relative;
  width: 100%;
  /*max-width: 940px + 20px; */
  min-height: 100%;
  overflow: hidden;
}


body {
  margin: 0;
  padding: 0;
  font-weight: normal;
  color: $colorWhite;
  font-family: 'Alegreya Sans', sans-serif;
  font-size: rem(16px);
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}


* {
  box-sizing: border-box;
}

ul,
picture,
p {
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;

}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: normal;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.title {
    font-size: rem(48px);
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    color: inherit;
} 

.section {
  height: 100vh;
  min-height: rem(650px);
  border: 1px solid red;
 
}

.container {
/*  max-width: 940px; */
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  position: relative;
  border: 1px solid green;

  
}


footer {
    position: relative;
    width: 100%;
}

* {
    box-sizing: border-box;
}